@charset "UTF-8";
@-webkit-keyframes Revers {
  20%,
  40% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  60%,
  80% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}
@keyframes Revers {
  20%,
  40% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  60%,
  80% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}

@-webkit-keyframes fromTop {
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fromTop {
  100% {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes fromBot {
  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes fromBot {
  100% {
    opacity: 1;
    bottom: 0;
  }
}

.basket-top {
  text-align: center;
  padding: 122px 0 97px;
  overflow: hidden;
}

.basket-top .big-title,
.basket-top .min-title {
  position: relative;
  top: -300px;
  opacity: 0;
  -webkit-animation: fromTop 2s forwards;
          animation: fromTop 2s forwards;
}

.big-title {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 300;
  letter-spacing: 2px;
}

.min-title {
  color: #7c7c7c;
  font-size: 21px;
  font-style: italic;
  font-family: "Lora";
  font-weight: 300;
}

.orange {
  color: #f6955d;
}

.centre {
  margin: auto;
}

.basket-order {
  position: relative;
  bottom: -500px;
  opacity: 0;
  -webkit-animation: fromBot 2s forwards;
          animation: fromBot 2s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.basket-order .head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr (1fr)[4];
      grid-template-columns: 1fr 4fr repeat(4, 1fr);
  border-bottom: 1px solid #e5e5e5;
  text-transform: uppercase;
  color: #c1c1c1;
  font-size: 12px;
  padding: 7px 0;
}

@media (max-width: 575px) {
  .basket-order .head {
    display: none;
  }
}

.basket-order .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr (1fr)[4];
      grid-template-columns: 1fr 4fr repeat(4, 1fr);
  border-bottom: 1px solid #e5e5e5;
  padding: 13px 0;
}

@media (max-width: 575px) {
  .basket-order .item {
    -ms-grid-columns: 1fr 2fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-auto-rows: minmax(auto);
        grid-template-areas: "bx img img ct" "bx img img ct" "bx nm  nm  ct" "bx pr  sz  ct";
  }
}

.basket-order .item .image {
  margin: auto 24px auto 10px;
}

@media (max-width: 575px) {
  .basket-order .item .image {
    grid-area: img;
    text-align: center;
    margin: 0;
  }
}

.basket-order .item .image img {
  border: 1px solid #e5e5e5;
  height: 100px;
  width: 100px;
}

@media (max-width: 575px) {
  .basket-order .item .image img {
    width: 200px;
    height: 200px;
  }
}

.basket-order .item .name {
  text-transform: uppercase;
  margin: auto 0;
}

.basket-order .item .name p:last-child {
  color: #949494;
  text-transform: none;
  font-size: 10px;
}

@media (max-width: 575px) {
  .basket-order .item .name {
    grid-area: nm;
    text-align: center;
    margin: 10px 0;
  }
}

.basket-order .item .size {
  position: relative;
}

@media (max-width: 575px) {
  .basket-order .item .size {
    grid-area: sz;
    margin: 10px 30px;
  }
}

.basket-order .item .size:before {
  content: "размер";
  position: absolute;
  color: #949494;
  text-transform: none;
  font-size: 10px;
  display: none;
}

@media (max-width: 575px) {
  .basket-order .item .size:before {
    display: block;
    top: 18px;
    left: -7px;
  }
}

.basket-order .item .count {
  position: relative;
}

@media (max-width: 575px) {
  .basket-order .item .count {
    grid-area: ct;
    margin: auto 0;
  }
}

.basket-order .item .count img {
  width: 12px;
  height: 12px;
  border: 0;
  cursor: pointer;
}

@media (max-width: 575px) {
  .basket-order .item .count img {
    width: 30px;
    height: 30px;
  }
}

.basket-order .item .count .btn-plus {
  position: absolute;
  top: -3px;
  left: 14px;
}

@media (max-width: 575px) {
  .basket-order .item .count .btn-plus {
    top: -35px;
    left: 25px;
  }
}

.basket-order .item .count .btn-minus {
  position: absolute;
  top: 13px;
  left: 14px;
}

@media (max-width: 575px) {
  .basket-order .item .count .btn-minus {
    top: 25px;
    left: 25px;
  }
}

@media (max-width: 575px) {
  .basket-order .item .price {
    grid-area: pr;
    text-align: right;
    margin: 10px 0;
  }
}

.basket-order .item .basket-x {
  width: 2px;
  height: 17px;
  border-radius: 30%;
  background-color: black;
  margin: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  cursor: pointer;
}

@media (max-width: 575px) {
  .basket-order .item .basket-x {
    grid-area: bx;
  }
}

.basket-order .item .basket-x::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 17px;
  border-radius: 30%;
  background-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 0;
  top: 0;
}

.basket-order .result {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr (1fr)[4];
      grid-template-columns: 1fr 4fr repeat(4, 1fr);
  background-color: #f9f9f9;
  margin-top: 4px;
  padding: 20px 0;
  text-align: right;
}

@media (max-width: 575px) {
  .basket-order .result {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.basket-order .result span:first-child {
  -ms-grid-column: 4;
  grid-column: 4;
}

@media (max-width: 575px) {
  .basket-order .result span:first-child {
    -ms-grid-column: 1;
    grid-column: 1;
    margin: 0 15px;
    text-align: right;
  }
}

.basket-order .result span:last-child {
  -ms-grid-column: 5;
  grid-column: 5;
}

@media (max-width: 575px) {
  .basket-order .result span:last-child {
    -ms-grid-column: 2;
    grid-column: 2;
    margin: 0 15px;
    text-align: left;
  }
}

.symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 170px;
  margin: 0 auto;
}

.symbol .symbol-el {
  width: 2px;
  height: 30px;
  background-color: #f6955d;
  margin: 0 19px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  -webkit-animation: Revers 10s infinite;
          animation: Revers 10s infinite;
}

.symbol .symbol-el::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  background-color: #f6955d;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: -14px;
  top: 14px;
}

.basket-form {
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  padding: 101px 0 0;
  text-align: center;
  margin: 0 auto;
}

.basket-form .popup {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: minmax(auto, 310px);
  grid-auto-rows: minmax(auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  color: #949494;
  font-size: 12px;
  margin-top: 56px;
}

.basket-form .popup input,
.basket-form .popup select {
  width: 100%;
  height: 42px;
  color: #949494;
  margin-top: 14px;
  padding: 5px;
  border: 1px solid #e5e5e5;
}

.basket-form .popup__box {
  margin: 50px 10px 0;
}

@media (max-width: 575px) {
  .basket-form .popup__box {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
}

.basket-form .popup .box_full {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.basket-form .popup .box_full:last-child {
  text-align: center;
}

.basket-form .popup [type="submit"] {
  position: relative;
  bottom: -780px;
  border: 1px solid #e67429;
  background-color: #f68236;
  width: 192px;
  text-transform: uppercase;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.basket-form .popup [type="submit"]:hover {
  background-color: #f87620;
}

.basket-form .popup #payment {
  position: relative;
  bottom: -820px;
  text-align: left;
}

.basket-form .popup #payment img {
  position: relative;
  bottom: 30px;
  right: 40px;
  float: right;
}

.basket_payment {
  padding-bottom: 330px;
}

.basket_payment .payment-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr, 1fr, 1fr;
      grid-template-rows: 1fr, 1fr, 1fr;
  margin-top: 101px;
  color: #606060;
  line-height: 2;
  list-style: none;
}

@media (max-width: 575px) {
  .basket_payment .payment-list {
    margin-top: 65px;
  }
}

.basket_payment .payment-list li {
  text-align: right;
  margin: 0 10px;
}

.basket_payment .payment-list li:nth-child(even) {
  text-align: left;
  font-style: italic;
  font-family: "Lora";
}
/*# sourceMappingURL=basket.css.map */