@-webkit-keyframes Revers {
  20%,
  40% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  60%,
  80% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}

@keyframes Revers {
  20%,
  40% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  60%,
  80% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}

@-webkit-keyframes fromTop {
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fromTop {
  100% {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes fromBot {
  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes fromBot {
  100% {
    opacity: 1;
    bottom: 0;
  }
}

.basket-top {
  text-align: center;
  padding: 122px 0 97px;
  overflow: hidden;
}

.basket-top .big-title, .basket-top .min-title {
  position: relative;
  top: -300px;
  opacity: 0;
  -webkit-animation: fromTop 2s forwards;
          animation: fromTop 2s forwards;
}

.big-title {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 300;
  letter-spacing: 2px;
}

.min-title {
  color: #7c7c7c;
  font-size: 21px;
  font-style: italic;
  font-family: "Lora";
  font-weight: 300;
}

.orange {
  color: #f6955d;
}

.basket-order {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 33px 137px 60px;
      grid-template-rows: 33px 137px 60px;
  position: relative;
  bottom: -500px;
  opacity: 0;
  -webkit-animation: fromBot 2s forwards;
          animation: fromBot 2s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.basket-order__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr (1fr)[4];
      grid-template-columns: 1fr 4fr repeat(4, 1fr);
  border-bottom: 1px solid #e5e5e5;
  color: #c1c1c1;
  font-size: 12px;
  text-transform: uppercase;
}

.basket-order__header p {
  margin: auto 0;
}

.basket-order .option {
  margin: auto;
}

.basket-order__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr (1fr)[4];
      grid-template-columns: 1fr 4fr repeat(4, 1fr);
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
}

.basket-order__item img {
  border: 1px solid #e5e5e5;
  height: 100px;
  width: 100px;
  margin: auto 24px auto 10px;
}

.basket-order__item p {
  margin: auto 0;
}

.basket-order__item .name {
  position: relative;
  text-transform: uppercase;
}

.basket-order__item .name:after {
  content: attr(article);
  position: absolute;
  color: #949494;
  text-transform: none;
  font-size: 10px;
  bottom: -15px;
  left: 0;
}

.basket-order__result {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr (1fr)[4];
      grid-template-columns: 1fr 4fr repeat(4, 1fr);
  background-color: #f9f9f9;
  margin-top: 4px;
}

.basket-order__result .text {
  -ms-grid-column: 4;
  grid-column: 4;
  text-align: right;
  margin: auto 0;
}

.basket-order__result .sum {
  -ms-grid-column: 5;
  grid-column: 5;
  margin: auto;
  color: #f6955d;
}

.basket-order .buttons {
  position: relative;
}

.basket-order .buttons img {
  width: 12px;
  height: 12px;
  border: 0;
  cursor: pointer;
}

.basket-order .buttons .btn-plus {
  position: absolute;
  top: -7px;
  left: 5px;
}

.basket-order .buttons .btn-minus {
  position: absolute;
  top: 9px;
  left: 5px;
}

.basket-order .basket-x {
  width: 2px;
  height: 17px;
  border-radius: 30%;
  background-color: black;
  margin: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  cursor: pointer;
}

.basket-order .basket-x::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 17px;
  border-radius: 30%;
  background-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 0;
  top: 0;
}

.symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 170px;
  margin: 0 auto;
}

.symbol .symbol-el {
  width: 2px;
  height: 30px;
  background-color: #f6955d;
  margin: 0 19px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  -webkit-animation: Revers 10s infinite;
          animation: Revers 10s infinite;
}

.symbol .symbol-el::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  background-color: #f6955d;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: -14px;
  top: 14px;
}

.basket-form {
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  padding: 101px 0 0;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .basket-form {
    max-width: 920px;
  }
}

.basket-form .popup {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: minmax(auto, 310px);
  grid-auto-rows: minmax(auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  color: #949494;
  font-size: 12px;
  margin-top: 56px;
}

.basket-form .popup input,
.basket-form .popup select {
  width: 100%;
  height: 42px;
  color: #949494;
  margin-top: 14px;
  padding: 5px;
  border: 1px solid #e5e5e5;
}

.basket-form .popup__box {
  margin: 50px 10px 0;
}

.basket-form .popup__box:before {
  content: attr(title);
  position: relative;
}

.basket-form .popup .box_full {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.basket-form .popup [type="submit"] {
  position: relative;
  bottom: -780px;
  border: 1px solid #e67429;
  background-color: #f68236;
  width: 192px;
  text-transform: uppercase;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.basket-form .popup [type="submit"]:hover {
  background-color: #f87620;
}

.basket-form .popup #payment {
  position: relative;
  bottom: -820px;
  text-align: left;
}

.basket-form .popup #payment img {
  position: relative;
  bottom: 30px;
  right: -490px;
}

.basket_payment {
  padding-bottom: 330px;
}

.basket_payment .payment-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr, 1fr, 1fr;
      grid-template-rows: 1fr, 1fr, 1fr;
  margin-top: 101px;
  color: #606060;
  line-height: 2;
  list-style: none;
}

.basket_payment .payment-list li {
  text-align: right;
  margin: 0 10px;
}

.basket_payment .payment-list li:nth-child(even) {
  text-align: left;
  font-style: italic;
  font-family: "Lora";
}
/*# sourceMappingURL=basket.css.map */