/**
*
* Общие стили для всех страниц
*
*/

@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

// Общий контейнер
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

// Лоадер
.loader {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);

    &.show {
        display: flex;
    }
}
