/**
*
* Общие стили для всех страниц
*
*/
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic,cyrillic-ext');
@import "mixin.scss";
@import "animations.scss";

$mainTextColor: #303030;
$orange: #f6955d;
$border: #e5e5e5;
$back: #f9f9f9;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $mainTextColor;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background-color: #fff;
}

// Общий контейнер
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

//header
.header {
  padding: 35px 0;
  margin-bottom: 35px;
  border-bottom: 2px solid #e5e5e5;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__navbar {
    display: flex;
    align-items: center;

    &-logo {
      width: 45px;
      height: 45px;
      margin-right: 40px;
      background-image: url('/images/icons/logo.jpg');
    }
    & a.navbar-item {
      text-decoration: none;
      color: inherit;
      margin: 0 15px;
      padding: 5px 0;
      position: relative;

      &::after {
        content: '';
        width: 0;
        height: 2px;
        background-color: $mainTextColor;
        transition: 0.3s ease-in-out;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
  &__user-box {
    & a {
      text-decoration: none;
      color: inherit;
      margin-left: 70px;
      padding: 5px 0;
      position: relative;

      &::before {
        content: '';
        width: 30px;
        height: 30px;
        background-size: contain;

        position: absolute;
        left: -30px;
        top: 0;
        bottom: 0;
        margin: auto 0;
      }

      &.user-box__login::before {
        background-image: url('/images/icons/account.png');
      }

      &.user-box__basket::before {
        background-image: url('/images/icons/bascet.png');
      }

      &::after {
        content: '';
        width: 0;
        height: 2px;
        background-color: $mainTextColor;
        transition: 0.3s ease-in-out;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

// footer
.footer {
  margin: 100px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  :first-child {
    padding-left: 0;
    border-left: none;
  }

  &__container {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 11%;
    min-height: 150px;
    border-left: 1px solid #eaeaea;

    & h3.title {
      text-transform: uppercase;
      font-size: 1.1em;
      margin-bottom: 10px;
    }

    & a.link {
      text-decoration: none;
      color: $mainTextColor;
      position: relative;
      padding: 6px 0;

      &::before {
        content: '';
        height: 2px;
        width: 0;
        background-color: $mainTextColor;
        transition: 0.3s ease-in-out;

        position: absolute;
        left: 0;
        bottom: 3px;
      }
      &:hover::before {
        width: 100%;
      }
    }

    & p.text {
      margin: 6px 0;
    }

    & .social {
      // display: flex;

      & a {
        color: $mainTextColor;
        text-decoration: none;

        &::before {
          font-size: 22px;
          padding: 5px;
          border: 1px solid $mainTextColor;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          margin-top: 15px;
          margin-right: 10px;
          transition: 0.3s ease-in-out;
        }

        &:hover::before {
          color: #fff;
          background-color: $mainTextColor;
        }
      }
    }
  }
}

// Лоадер
.loader {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);

  &.show {
    display: flex;
  }
}
